:root {
    --background-color: rgb(218, 218, 218);
    --this-green: rgb(6, 83, 6);
    --white-hover: rgb(200, 200, 200);
    --custom-larger-font: 1.2rem;
}

#cryptosMenu {
    width: 730px;
    margin: auto;
}

#navCryptos {
    margin-top: 1rem;
    padding: .5rem;
    background-color: var(--this-green);
    font-weight: bold;
    border-radius: 0.25rem;
}

#loadSheet {
    cursor: pointer;
}

#saveSheet {
    color: white;
    font-size: .8rem;
}

.upload-crypto-button {
    background-color: green;
    color: white;
    font-weight: bold;
}

.cryptoSummaryTable {
    width: 100%;
    color: black;
}

.leftColumn {
    text-align: left;
    padding-left: .5rem;
}

.middleColumn {
    text-align: right;
}
.rightColumn {
    padding-right: .5rem;
    text-align: right;
}

.cryptoSummaryTable .gray {
    background-color: azure;
}

.cryptoSummaryTable .green {
    background-color: var(--this-green);
    color: white;
}

.cryptoSummaryTable th {
    background-color: var(--this-green);
    font-weight: bold;
    color: white;
    font-size: large;
}

.cryptoSummaryTable tr:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.sellTableSelected {
    color: red;
}

.cryptoOpList {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    border: .1rem solid;
    border-color: var(--this-green);
}

.cryptoOpList.sell:hover {
    cursor: pointer;
    border: .1rem inset;
}

.cryptoOpSelected {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    border: .1rem solid;
    border-color: red;
}

.cryptoOpSelected:hover {
    cursor: pointer;
}

.purchase_sold_table {
    width: 100%;
}
