:root {
    --background-color: rgb(218, 218, 218);
    --custom-green: rgb(6, 83, 6);
    --selectable-green: rgb(49, 139, 49);
    --white-hover: rgb(200, 200, 200);
    --custom-font-size: 1.2rem;

    --cryptopageMainMenu-ElementsWidth: 70vw;
    --cryptoSummaryList-elementWidth: 70vw;
}

.cryptopageMainMenu {
    font-size: var(--custom-font-size);
}

.navCryptos {
    width: var(--cryptopageMainMenu-ElementsWidth);
    padding: .5rem;
    background-color: var(--custom-green);
    color: white;
    border-radius: 0.25rem;
}

.navSheetsList {
    display: flex;
    justify-content: space-between;
}

.sheetsTable {
    width: var(--cryptopageMainMenu-ElementsWidth);
    text-align: center;
    border-spacing: 0 2px;

}

.sheetsTable thead td {
    background-color: var(--custom-green);
    color: white;
}

.sheetsTable tbody tr {
    background-color: var(--background-color);    
}

.sheetsTable tbody tr:hover {
    background-color: var(--selectable-green);
    color: white;
    cursor: pointer;
}

.cryptoAccordion {
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 0 .5rem 0 .5rem;
    background-color: white;
    color: var(--custom-green);
}

tr.cryptoAccordion td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

tr.cryptoAccordion td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

.upload-container {
    display: flex;
    justify-content: space-between;
}

div.upload-container {
    margin-bottom: 1rem;
}

/* ############################################ */
/*              Loaded Sheet Page               */
/* ############################################ */

.navSheetLoaded {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

#loadSheet {
    cursor: pointer;
}

#saveSheet {
    color: white; font-size: .8rem;
}

.upload-crypto-button {
    background-color: green;
    color: white; font-weight: bold;
    width: 50%;
}

.cryptoSummaryTable {
    width: 100%;
    color: black;
    border-spacing: 0 2px;
    margin-bottom: 2rem;
}

.cryptoSummaryTable th {
    width: 33%;
}

.operationsSec {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#purchasesDiv, #sellsDiv {
    width: 50%;
}

.cryptoOpsHeader {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0;
}

#purchasesDiv h2 {
    background-color: green;
}

#sellsDiv h2 {
    background-color: red;
}

.opsContainer {
    overflow-x: auto;
    height: 500px;
    /* border: var(--custom-green) solid 1px; */
    margin-bottom: 2rem;
}

.tableHover:hover {
    font-weight: bold;
}

.sellTableSelected {
    color: red;
}

.cryptoOpList {
    width: 100%;
    border: .1rem solid;
    border-color: var(--custom-green);
    border-spacing: 0 2px;
}

.cryptoOpList.sell:hover {
    cursor: pointer;
    border: .1rem inset;
}

.purchaseSelected, .purchaseSold { 
    width: 100%;
    margin: 1rem 0 1rem 0;
    border: .1rem solid;
    border-color: red;
    border-spacing: 0 2px;
}

.purchaseSelected:first-child {
    margin: 0 0 1rem 0;
}

.cryptoSellSelected { 
    width: 100%;
    margin: 1rem 0 1rem 0;
    border: .1rem solid;
    border-color: red;
    border-spacing: 0 2px;
}

.cryptoSellSelected:first-child {
    margin: 0 0 1rem 0;
}

.individualSellTable .cryptoSellSelected {
    margin: 1rem 0 1rem 0;
}

.individualSellTable:first-child .cryptoSellSelected {
    margin: 0 0 1rem 0;
}

.cryptoSellSelected:hover {
    cursor: pointer;
}

.purchase_sold_table {
    width: 100%;
}


/* ############################## */
/* ----- Responsive ------ */
/* ############################## */

@media (max-width: 750px) {
    #cryptosMenu {
        width: 90vw;
    }

    #currentSituationSec {
        overflow: auto;
    }

    .operationsSec {
        flex-direction: column;
        gap: 0;
    }

    #purchasesDiv, #sellsDiv {
        width: 100%;
    }
}

@media (max-width: 460px) {
    :root {
        --cryptopageMainMenu-ElementsWidth: 300px;
        --custom-font-size: 0.8rem;
    }

    section.cryptopageMainMenu {
        overflow-y: auto;
    }

    .navSheetLoaded {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        align-items: center;
    }
}