:root {
    --background-color: rgb(218, 218, 218);
    --this-green: rgb(6, 83, 6);
    --white-hover: rgb(200, 200, 200);
    --custom-larger-font: 1.2rem;
}

.navCryptos {
    margin-top: 1rem;
    padding: .5rem;
    background-color: var(--this-green);
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
}

.navSheetsList {
    display: flex;
    justify-content: space-between;
}

.sheetsTable {
    width: 100%;
    text-align: center;
}

.sheetsTable thead td {
    background-color: var(--this-green);
    color: white;
}

.sheetsTable tbody tr {
    background-color: var(--background-color);    
}

.sheetsTable tbody tr:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.cryptoAccordion {
    margin-top: .5rem;
    padding: 0 .5rem 0 .5rem;
    background-color: white;
    color: var(--this-green);
    font-weight: bold;
    border-radius: 0.25rem;
}

#loadSheet {
    cursor: pointer;
}

#saveSheet {
    color: white;
    font-size: .8rem;
}

.upload-crypto-button {
    background-color: green;
    color: white;
    font-weight: bold;
}

/* ################################################## */
                    /* Tables */
/* ################################################## */

.cryptoSummaryTable th {
    width: 33%;
}

.cryptoSummaryTable {
    width: 100%;
    color: black;
}

.sellTableSelected {
    color: red;
}

.cryptoOpList {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    border: .1rem solid;
    border-color: var(--this-green);
}

.cryptoOpList.sell:hover {
    cursor: pointer;
    border: .1rem inset;
}

.purchaseSelected,
.purchaseSold {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    border: .1rem solid;
    border-color: red;
}

.cryptoOpSelected {
    font-weight: bold;
    width: 100%;
    margin-bottom: 1rem;
    border: .1rem solid;
    border-color: red;
}

.cryptoOpSelected:hover {
    cursor: pointer;
}

.purchase_sold_table {
    width: 100%;
}