.divLogin {
    background-color: var(--background-color);
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.sign-button {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    border-radius: .25rem;
    cursor: pointer;
}

.sign-error, .sign-up-error, .password-mismatch {
    color: red;
    margin: .4rem;
    display: flex;
    justify-content: center;
}

.diffPassword {
    color: red;
}

.sign-out {
    text-decoration: underline;
}